{% extends "portal/base_site.html" %}
<!--
Page for editing a Notice
-->
{% load markdown_deux_tags %}

{% block title %} Edit Notice {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block app_nav %}
<ul class="nav navbar-nav navbar-left">
   <li>
    <a href="{% url 'new_notice' %}" title="New Notice" aria-expanded="false">
      New Notice
    </a>
  </li>
</ul>
{% endblock app_nav %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row">
        <div class="col-md-12">
          {% if error_message %}
            <div class="error_message">{{error_message}}</div>
          {% endif %}
          <div class="x_panel">
            <div class="x_title">
              <h2>Delete Notice</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left" action="" method="post">{% csrf_token %}
               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Title</label>
                  <div class="col-md-9 col-sm-9 col-xs-12 dashboard-widget-content">
                    {{notice.title}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Notice</label>
                  <div class="col-md-9 col-sm-9 col-xs-12 dashboard-widget-content">
                    {{notice.content|markdown}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Excerpt</label>
                  <div class="col-md-9 col-sm-9 col-xs-12 dashboard-widget-content">
                    {{notice.excerpt|markdown}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Author</label>
                  <div class="col-md-9 col-sm-9 col-xs-12 dashboard-widget-content">
                    {{notice.author}}
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Delete?</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
{% endblock javascripts %}
