{% extends "portal/base_site.html" %}
{% load markdown_deux_tags %}

{% block title %} Home {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h1>ifx.rc <span class="subtitle hidden-sm hidden-xs">the FAS Informatics application server</span></h1>
            <div class="clearfix"></div>
          </div>
          <div class="x_content hidden-sm hidden-xs">
            <div class="dashboard-widget-content">
              <h2>Welcome to ifx.rc, the entry point for an assortment of applications provided by <a href="http://informatics.fas.harvard.edu">the FAS Informatics group</a></h2>
            </div>
          </div>
        </div>
      </div> 
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Notices</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <ul class="list-unstyled timeline widget">
                {% for notice in notices %}
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                        <a href="{% url 'view_notice' pk=notice.id %}">{{notice.title}}</a>
                      </h2>
                      <div class="byline">
                        <span>{{notice.updated}}</span> by <a>{{notice.author}}</a>
                      </div>
                      <p class="excerpt">
                        {% if notice.excerpt %}
                          {{notice.excerpt|markdown}}...<a href="{% url 'view_notice' pk=notice.id %}">Read&nbsp;More</a>
                        {% else %}
                          {{notice.content|markdown}}
                        {% endif %}
                      </p>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <!-- Start to do list -->
            <div class="x_panel">
              <div class="x_title">
                <h2>Top Odyssey applications (last 7 days)</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="">
                  <table id="module-list-table" class="table dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Module name</th>
                        <th>Module load count</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <!-- End to do list -->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script type="text/javascript">
    $(document).ready(function() {
      /** Data table setup **/
      $("#module-list-table").DataTable({
//          "search" : {'search' : '*'},
//          "searchDelay" : null,
          "ajax" : {
              "url" : PORTAL_URL + "apps/modules/api",
              "type" : "POST",
              "data" : {
                "sDate" : Date.today().add(-7).days().toString('yyyy-MM-dd'),
                "eDate" : Date.today().toString('yyyy-MM-dd'),
                "length" : "50",
                "start" : "0",
                "raw" : "no", 
                "draw" : "1"
              }
          },
          "order" : [], 
          "lengthMenu" : [[10, 25, 50, -1], [10, 25, 50, "All"]],
          "dom"  : "t",
          "columns" : [
              {"title" : "Module name", "data" : "text"},
              {"title" : "Module load count", "data" : "size"},
          ],
      });
    })
  </script>
{% endblock javascripts %}
